@import "settings", "fonts";
@import "foundation";

.form-contact {
	border-color: #CBCBCB !important;
  	box-shadow: inset 0 1px 2px rgba(0, 44, 246, 0.08) !important;
}

#btn_submit {
	color: #FFFFFF !important;
	border-style: none !important;
	background-color: #008CBA !important;
}